
.list {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 84.5px;
    list-style: none;
    left: 50px;
    border: 1px solid #e8edf2;
    border-top: none;
    width: calc(100% - 100px);
    background-color: #fff;
    z-index: 1;
}

@media (max-width: 480px) {
    .list {
        top: 50.5px;
        left: 10px;
        width: calc(100% - 20px);
    }
}

.listItem {
    padding: 10px;
    color: #aaa;
    font-weight: 900;
    border-bottom: 1px solid #e8edf2;
}
